.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn-group {
    position: absolute;

    // display: block;
    // position: fixed;
    // bottom: 0;
  }
}
